{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Prototipo Runaway Stars</h2>
            </div>
        </div>
        <div class="row" id="points-div">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <h3>PUNTOS: {{points}}</h3>
            </div>
        </div>
        <form id="runaway-stars-form" class="well" action="/processResponse" method="POST">
            <div class="row">
                {% for img in images %}
                    <div class="star-container col-md-4 col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="img-responsive img-radio" src="{{img.path}}" class="centered" width="512" height="512"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 col-md-offset-5">
                                <input class="centered" type="radio" name="answer" value="{{img.id}}">
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row"><div class="col-md-12"></div></div>
            <div class="row">
                <div class="col-md-1 col-md-offset-11">
                    <input type="submit" class="btn btn-lg btn-success" value="Contestar!"/>
                </div>
            </div>
        </form>
        <div id="close-div" class="row">
            <div class="col-md-2 col-md-offset-5">
                <form id="runaway-stars-form"  action="/logout" method="POST">
                    <input class="btn btn-lg btn-danger" type="submit" value="Teminar!"/>
                </form>
            </div>
            <div class="col-md-5"></div>
        </div>  
    </div>  


{% endblock %}
