{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <form id="runaway-stars-form" action="/processResponse" method="POST">
                <div id="images-container">
                    {% for img in images %}
                        <div class="star-container">
                            <img src="{{img}}"/>
                            <input type="radio" name="answer" value="{{img}}" />
                        </div>
                    {% endfor %}
                </div>
                <input type="submit" value="Enviar!"/>
            </form>
            
        </div>
    </div>
{% endblock %}
