{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="points-div">
                <p>{{points}}</p>
            </div>
            <form id="runaway-stars-form" action="/processResponse" method="POST">
                <div id="images-container">
                    {% for img in images %}
                        <div class="star-container">
                            <img src="{{img.path}}"/>
                            <input type="radio" name="answer" value="{{img.id}}" />
                        </div>
                    {% endfor %}
                </div>
                <input type="submit" value="Enviar!"/>
            </form>
            
        </div>
    </div>
    <div id="close-div">
        <form id="runaway-stars-form" action="/logout" method="POST">
            <input type="submit" value="Teminar!"/>
        </form>
{% endblock %}
