{% extends 'base.html.twig' %}
{% block body %}
	<form method="POST" action="logInUser">
		<label for="username">Ingrese su nombre</label><input type="text" name="username" required="required"/>
		<input type="submit" value="Comenzar!" />
	</form>
{% endblock %}