{% extends 'tutorial/tutorial-runaway.html.twig' %}

    {% block custom_step_js %}
    	<script type="text/javascript">
    	$("#question").attr("data-step","1");
    	$("#question").attr("data-intro","Observando la imagen en la pantalla vas a tener que indicarnos si ves una figura parecida a un arco de color");
        

    	</script>

    {% endblock %}

{% block image%}
   <div class="row">
        <div class="col-md-4 col-md-offset-4 star-container">
            <img class="img-responsive star-image" src="{{asset('bundles/app/images/tutorial/HIP88652-rgb.jpg') }}" data-intro='En esta imagen vemos un arco de color rojo,alrededor de una estrella, durante las siguientes imagenes vas a tener que decirnos si ves un arco parecido a este.' data-step="2" data-position="left"/>
            <img class="hidden marked-image" src="{{ asset('bundles/app/images/tutorial/HIP88652-rgb_m.jpg') }}"/>
        </div>
    </div>
{% endblock %}

{% block submit_buttons %}
  <div class="col-md-2 col-md-offset-5">
    <div class="text-center" data-intro='Seleccionando estas opciones, podes indicar si en la imagen vez un arco o no' data-step="3" data-position="top">
        <button type="button" id="yesBtn" class="btn btn-success rightAnswerBtn answerBtn" name="answer" data-position="top" value="1" data-intro="En este caso, ya te dijimos la respuesta, hac&eacute; click en aqu&iacute;" data-step="4">Si</button>
        <button type="button" id="noBtn" class="btn btn-danger wrongAnswerBtn answerBtn"  name="answer" value="0">No</button>
        <button type="button" id="dontKnowBtn" class="btn btn-warning dontKnowBtn answerBtn" name="answer" value="2">No estoy seguro</button>

    </div>
	
	<button type="submit" id="submit-button" disabled="disabled" class="hidden btn btn-lg btn-success btn-block">Siguiente</button>
  </div>
{% endblock %}