{% extends 'tutorial/tutorial-runaway.html.twig' %}



{% block image%}
   <div class="row">
        <div class="col-md-4 col-md-offset-4 star-container">
		    <img class="img-responsive star-image" src="{{asset('bundles/app/images/tutorial/HIP16518-rgb.jpg') }}" data-intro='Muchas veces, el arco no est&aacute; completamente definido, lo que puede llevar a dudas. En estos casos es posible optar por la opcion de "no estoy seguro"' data-step="1" data-position="left"/>
		    <img class="hidden marked-image" src="{{ asset('bundles/app/images/tutorial/HIP16518-rgb_m.jpg') }}"/>
        </div>
    </div>
{% endblock %}

