{% extends 'task/index.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/intro.js') }}"></script>
    <script type="text/javascript">

    function toggleResponse()
    {
     //shows the submit button
      $("#submit-button").removeClass('hidden');
      $("#submit-button").prop('disabled',false);
      //hides the other buttons
      $(".answerBtn").addClass('hidden');
      introJs().exit();
     }

		 introJs().setOptions({
          nextLabel: 'Siguiente',
          prevLabel: 'Atras',
          skipLabel: 'Cerrar',
          doneLabel: 'Cerrar'})
		 .start();


		//wrongAnswerBtn click handler
		$(".wrongAnswerBtn").on("click",function(){
			$("#answerTextWrong").removeClass("hidden");
            introJs().exit();
		});
		//rightAnswerBtn click handler
		$(".rightAnswerBtn").on("click",function(){
			//hides the wrong answer text
			$("#answerTextWrong").addClass("hidden");
			//shows the right answer text
			$("#answerTextRight").removeClass("hidden");
			toggleResponse();
		});

     $(".dontKnowBtn").on("click",function(){
      //hides the wrong answer text
      $("#answerTextWrong").addClass("hidden");
      //shows the right answer text
      $("#answerTextDontKnow").removeClass("hidden");
      toggleResponse();
    });

    $("#helpBtn").on("click",function(){
      introJs().setOptions({
          nextLabel: 'Siguiente',
          prevLabel: 'Atras',
          skipLabel: 'Cerrar',
          doneLabel: 'Cerrar'})
     .start();
    })
	
    </script>
{% endblock %}


{% block custom_stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/introjs.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/custom-intro.css') }}">
{% endblock %}


{% block submit_buttons %}
  <div class="col-md-2 col-md-offset-5">
  	<div class="text-center">
		<button type="button" id="yesBtn" class="btn btn-success wrongAnswerBtn answerBtn">Si</button>
		<button type="button" id="noBtn" class="btn btn-danger rightAnswerBtn answerBtn"  name="answer" value="0">No</button>
		<button type="button" id="dontKnowBtn" class="btn btn-warning dontKnowBtn answerBtn" name="answer" value="2">No estoy seguro</button>
  	</div>
	<button type="submit" id="submit-button" disabled="disabled" class="hidden btn btn-lg btn-success btn-block">Siguiente</button>
  </div>
{% endblock %}

{% block image%}
   
{% endblock %}

{% block training_response %}
    <div class="row">
      <div class="col-md-6 col-md-offset-3  answer">
          <div class="hidden alert alert-danger" role="alert"  id="answerTextWrong">
            <strong>Paf! Te equivocaste!</strong> ...Creo que yo no veo ningun arco.
          </div>
          <div class="hidden alert alert-success" role="alert"  id="answerTextRight">
            <strong>Viva!</strong> Lo hiciste bien! En la imagen no hay ningun arco.
          </div>
          <div class="hidden alert alert-info" role="alert"  id="answerTextDontKnow">
            <strong>No estabas segur@?</strong> En este caso, no hay ningun arco en la imagen.
          </div>
       </div>
    </div>
{% endblock %}





{% block points %}
  <button type="button" class="btn btn-info" id="helpBtn">Mostrar Ayuda</button>
{% endblock %}

{% block question_number %}{% endblock %}

{% block points_variables %}
{% endblock %}

{% block help_text %}{% endblock %}
