{% extends 'logout/index.html.twig' %}

{% block result %}
	 <div class="row">
		<div class="col-md-12">
	    	<h3 class="text-center">&iexcl;Felicitaciones! Ganaste una insignia</h3>
	    </div>
	</div>
	 <div class="row text-center">
		<img class="img-responsive center-block" src="{{ absolute_url(level) }}"></img>
	</div>
	<div class="row">
		<div class="col-md-12">
	    	<p class="text-center lead">{{ legend|raw }}</p>
	    </div>
	</div>
{% endblock %}
