{% extends 'logout/index.html.twig' %}

{% block result %}

{% block stylesheets %}
<style type="text/css">

.numberCircle {

    font: 60px Arial, sans-serif;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


.badge_img{
    height: 300px;
}
</style>

{% endblock %}


<div id="resultModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				 <div class="row">
					<div class="col-md-12">
				    	<h3 class="text-center">&iexcl;Felicitaciones! Ganaste una insignia</h3>
				    </div>
				</div>
				 <div class="row text-center">
					<img class="center-block badge_img" src="{{ absolute_url(level) }}"></img>
				</div>
				<div class="row">
					<div class="col-md-12">
				    	<p class="text-center lead">{{ legend|raw }}</p>
				    </div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="resultsBtn" class="btn btn-success">Siguiente</button>
				<div class="text-center">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
			</div>
		</div>
	</div>
</div>
{% include 'logout/leadersboard.html.twig' %}

	
{% endblock %}
