{% extends 'logout/index.html.twig' %}

{% block result %}

{% block stylesheets %}
<style type="text/css">

.numberCircle {

    font: 60px Arial, sans-serif;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


.badge_img{
    height: 300px;
}
</style>

{% endblock %}

<div class="row">
	<div class="col-md-6" style="padding-right:20px; border-right: 1px solid #ccc;">
		 <div class="row">
			<div class="col-md-12">
		    	<h3 class="text-center">&iexcl;Felicitaciones! Ganaste una insignia</h3>
		    </div>
		</div>
		 <div class="row text-center">
			<img class="center-block badge_img" src="{{ absolute_url(level) }}"></img>
		</div>
		<div class="row">
			<div class="col-md-12">
		    	<p class="text-center lead">{{ legend|raw }}</p>
		    </div>
		</div>
	</div>
	<div class="col-md-6">
		{% include 'logout/leadersboard.html.twig' %}
	</div>
</div>

	
{% endblock %}
