{% extends 'base.html.twig' %}
{% block stylesheets  %}
<style>
    .badge_img{
        height: 300px;
    }
</style>

{% endblock %}
{% block javascripts %}

<script type="text/javascript">
    $(window).on('load',function(){
        $('#resultModal').modal('show');
    });

    $("#resultsBtn").on("click",function(){
        $('#resultModal').modal('hide');
        $("#leadersModal").modal("show");
    })

    $("#leadersBackBtn").on("click",function(){
        $('#leadersModal').modal('hide');
        $("#resultModal").modal("show");
    })

    $("#leadersforwBtn").on("click",function(){
        $('#leadersModal').modal('hide');
    })
</script>

{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
            <div class="col-md-12">
            	<h1 class="text-center">&iquest;Qu&eacute; tan confiado te sent&iacute;s para encontrar arcos de colores?</h1>
            </div>

        </div>
        {% block result %}{% endblock %}
        <form id="submitTraining" method="POST" action="{{post_url}}" class="form">

            <div class="row text-center">
                <label class="radio-inline">
                    <input type="radio" name="confidence" value="1" required="required">1
                </label>
               <label class="radio-inline">
                    <input type="radio" name="confidence" value="2" required="required">2
                </label>
                <label class="radio-inline">
                    <input type="radio" name="confidence" value="3" required="required">3
                </label>
                <label class="radio-inline">
                    <input type="radio" name="confidence" value="4" required="required">4
                </label>
                <label class="radio-inline">
                    <input type="radio" name="confidence" value="5" required="required">5
                </label>
                <label class="radio-inline">
                    <input type="radio" name="confidence" value="6" required="required">6
                </label>
                <label class="radio-inline">
                    <input type="radio" name="confidence" value="7" required="required">7
                </label> 
                <label class="radio-inline">
                    <input type="radio" name="confidence" value="8" required="required">8
                </label>
                <label class="radio-inline">
                    <input type="radio" name="confidence" value="9" required="required">9
                </label>
                <label class="radio-inline">
                    <input type="radio" name="confidence" value="10" required="required">10
                </label>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="lead text-center">&iquest;Te sent&iacute;s preparado para explorar runaway stars sin nuestra ayuda?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-3">
                    <button name="user_choice" type="submit" class="btn btn-success btn-lg" value="true">Explorar runaway stars</button>
                </div>
                <div class="col-md-3">
                    <button name="user_choice" type="submit" class="btn btn-danger btn-lg" value="false">Repetir entrenamiento</button>
                </div>
            </div>
        </form>
	</div>
{% endblock %}
