{% extends 'logout/index.html.twig' %}

{% block result %}

<style type="text/css">

.numberCircle {

    font: 60px Arial, sans-serif;
}

</style>
<div class="row">
	<div class="col-md-6" style="padding-right:20px; border-right: 1px solid #ccc;">
		 <div class="row">
			<div class="col-md-12">
		    	<h2 class="text-center">&iexcl;Felicitaciones!</h2>
		    	<h3 class="text-center">Conseguiste:</h3>
		    </div>
		</div>
		<div class="row text-center">
			 <div class="numberCircle">{{points}}</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-center">Puntos</h3>
			</div>
		</div>
	</div>
	<div class="col-md-6">
	{% include 'logout/leadersboard.html.twig' %}
	</div>
</div>

{% endblock %}