{% extends 'task/index.html.twig' %}


{% block submit_buttons %}
	<div class="col-md-1 col-md-offset-10">
	    <button type="button" id="answer-button" class="btn btn-lg btn-primary">Contestar!</button>
	</div>
	<div class="col-md-1">
	    <button type="submit" id="submit-button" disabled="disabled" class="btn btn-lg btn-success">Siguiente</button>
	</div>
{% endblock %}


{% block points_variables %}
    <!-- points -->
    <div class="hidden" id="div-points">
        <p id="correct-points">{{correct_points}}</p>
        <p id="incorrect-points">{{incorrect_points}}</p>
    </div>
    <p class="hidden" id="tmode">{{training_mode}}</p>
{% endblock %}

{% block help_text %}


<!-- Modal -->
<div class="modal fade" id="help_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Esto es un entrenamiento</h4>
      </div>
      <div class="modal-body">
        <p>Conocemos las respuestas y te vamos a decir si acertaste o no.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}