
body {
	padding-top: 50px;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 30px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.background-well {
	 background-image: url("../images/background.jpg");
	 background-color: #007890;
	 background-repeat: repeat;
}

.text-white{
	color : white;
}

.text-feedback{
	color: #FCF4AC;
	text-align: center;
	font-size:large;
}

.text-question{
	color: #FCF4AC;
}

.bottom-buffer-large{
	 margin-bottom:5%;
}

.bottom-buffer-small{
	margin-bottom:1%;
}

.top-buffer-small{
	margin-top:1%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
