

.star-image{
  width: 100%;
  display: block; margin-left: auto; margin-right: auto;
  margin-bottom: 10px;
  border: 15px solid transparent;
  -webkit-border-image: url("../images/border2.png") 45 repeat; /* Safari 3.1-5 */
  -o-border-image: url("../images/border2.png") 45 repeat; /* Opera 11-12.1 */
  border-image: url("../images/border2.png") 45 repeat;

}

.star-image-first{
  width: 100%;
  display: block; margin-left: auto; margin-right: auto;
  margin-bottom: 10px;
  border: 15px solid transparent;
  -webkit-border-image: url("../images/border.png") 45 repeat; /* Safari 3.1-5 */
  -o-border-image: url("../images/border.png") 45 repeat; /* Opera 11-12.1 */
  border-image: url("../images/border.png") 45 repeat;

}
