{% extends 'task/index.html.twig' %}

{% block training_js %}
    <script src="{{ asset('bundles/app/js/show-help.js') }}"></script>
    <script type="text/javascript">
      $( ".concreteAnswer" ).on( "click", function( event ) {
          $("#info-extra").removeClass("hidden");
          $(".submit-buttons").addClass("hidden");
          $("#submit-button").removeClass('hidden');
          $("#submit-button").prop('disabled',false);
          var answer =  $('input[name=answer]', "#runaway-stars-form");
          answer.val($(this).attr("value"));
      })

      $( "#submit-button" ).on( "click", function( event ) {
          var isFormComplete= $('div.checkbox-group.required :checkbox:checked').length > 0
          if(isFormComplete)
          {

            $.blockUI({ message: $('#throbber') });

               setTimeout( function () {
                  $( "#runaway-stars-form" ).submit();
               }, 1000);
          }
          else
          {
            alert("Debe seleccionar al menos una opción");
          }
      })

      //enables submit button
$( ".dontKnowBtn" ).on( "click", function( event ) {
  //shows answer and help text
          $(".submit-buttons").addClass("hidden");
          var answer =  $('input[name=answer]', "#runaway-stars-form");
          answer.val($(this).attr("value"));

           $.blockUI({ message: $('#throbber') });

         setTimeout( function () {
            $( "#runaway-stars-form" ).submit();
         }) 

});

    </script>
{% endblock %}

{% block submit_buttons %}
  <div class="col-md-2 col-md-offset-5 submit-buttons">
      <div class="text-center">
        <button type="button" id="yesBtn" class="btn btn-success answerBtn concreteAnswer" value="1">Si</button>
        <button type="button" id="noBtn" class="btn btn-danger answerBtn concreteAnswer" value="0">No</button>
        <button type="button" id="dontKnowBtn" class="btn btn-warning dontKnowBtn" value="2">No estoy seguro</button>
      </div>
    
  </div>
  <div class="col md-1 col-me-offset-1 submit-buttons">
      <a class="btn btn-default" href="{{finish_url}}">Finalizar</a>
  </div>
  <div class="col-md-2 col-md-offset-5">
    <button type="button" id="submit-button" disabled="disabled" class="hidden btn btn-lg btn-success btn-block">Siguiente</button>
  </div>

  <input type="hidden" name="answer" />
{% endblock %}
{% block info_extra %}
<div id="info-extra" class="hidden">
     <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="text-center">
                <a>&iquest;Que imagenes te ayudaron a tomar tu decisi&oacute;n?</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="text-center checkbox-group required">
                <input type="checkbox" class="checkbox-inline" name="usedImages[]" required="required" value="rgb"> 1
                <input type="checkbox" name="usedImages[]" class="checkbox-inline" required="required" value="cool"> 2
                <input type="checkbox" name="usedImages[]" class="checkbox-inline" required="required" value="heat"> 3
                <input type="checkbox" name="usedImages[]"class="checkbox-inline" required="required" value="hsv"> 4
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block help_text %}
<!-- Modal -->
<div class="modal fade" id="help_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ya no te vamos a indicar el resultado de tus respuestas</h4>
      </div>
      <div class="modal-body">
        <p>Ahora que superaste el entrenamiento, ya no te vamos a decir el resultado de tus respuestas, de esta forma podremos evaluar el diseño de nuestro entrenamiento</p>
        <p>Usa tu entrenamiento para decirnos cuales te parecen <i>runaway stars</i></p>
        <p> <strong>Para finalizar, hac&eacute; click en el bot&oacute;n "Finalizar"<strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block points %}
{% endblock %}

{% block points_variables %}
{% endblock %}


{% block training_response %}
{% endblock %}

{% block question_number %}{% endblock %}
