{% extends 'task/index.html.twig' %}


{% block submit_buttons %}
	<div class="col-md-1 col-md-offset-11">
	    <button type="submit" id="submit-button" class="btn btn-lg btn-success">Siguiente</button>
	</div>
{% endblock %}

{% block points %}
{% endblock %}

{% block points_variables %}
{% endblock %}