{% extends 'task/index.html.twig' %}

{% block training_js %}
    <script type="text/javascript">
      $( ".answerBtn" ).on( "click", function( event ) {
          event.preventDefault();
          var btnValue = $(this).val();
            $.blockUI({ message: $('#throbber') });

               setTimeout( function () {
                  //adds the buttons value to the form
                  var input = $("<input>")
                   .attr("type", "hidden")
                   .attr("name", "answer").val(btnValue);
                  $( "#runaway-stars-form" ).append(input);
                  $( "#runaway-stars-form" ).submit();
               }, 1000);
      })
    </script>
{% endblock %}

{% block submit_buttons %}
  <div class="col-md-2 col-md-offset-5">
      <button type="submit" id="yesBtn" class="btn btn-success answerBtn" name="answer" value="1">Si</button>
      <button type="submit" id="noBtn" class="btn btn-danger answerBtn"  name="answer" value="0">No</button>
      <button type="submit" id="dontKnowBtn" class="btn btn-warning answerBtn" name="answer" value="2">No estoy seguro</button>
  </div>
{% endblock %}

{% block points %}
{% endblock %}

{% block points_variables %}
{% endblock %}


{% block training_response %}
{% endblock %}

{% block help_text %}


<!-- Modal -->
<div class="modal fade" id="help_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ya no te vamos a indicar el resultado de tus respuestas</h4>
      </div>
      <div class="modal-body">
        <p>Ahora que superaste el entrenamiento, ya no te vamos a decir el resultado de tus respuestas, de esta forma podremos evaluar el diseño de nuestro entrenamiento</p>
        <p>Usa tu entrenamiento para decirnos cuales te parecen <i>runaway stars</i></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}